n8n_workflows/ResuMatchAI Credits.json
{
  "name": "ResuMatchAI Credits",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1543b332-7b5f-4338-a390-74767805c396",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        16
      ],
      "id": "37be37a0-cf27-485f-9b3a-6e9359e735e1",
      "name": "Webhook",
      "webhookId": "1543b332-7b5f-4338-a390-74767805c396",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XpXKthBl9ltJ9CCe",
          "name": "ResuMatch API Key"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "signup_credits",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e86d652-9424-4138-ad2d-83100a0e9cdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Signup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4c9095f-78a1-4639-8424-e25821536d72",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "get_remaining_credit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Remaining"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54979e41-9ffe-48f3-9b1c-846c03e6a850",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "credit_history",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "History"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "dee4fe1b-79f7-499b-a57d-2e61c66ba18d",
      "name": "Switch Based on Credit Event"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nINSERT INTO resume_match.user_credit_accounts (user_id, current_balance)\nVALUES ($1, 5);\n\nINSERT INTO resume_match.user_credit_transactions (\n    user_id,\n    transaction_type,\n    credits_delta,\n    description\n)\nVALUES (\n    $1,\n    'signup_bonus',\n    5,\n    'Free credits on signup'\n);\n\nCOMMIT;",
        "options": {
          "queryReplacement": "={{ $('Webhook').item.json.body.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -160
      ],
      "id": "b921853e-a40b-470c-b176-0a4d24007305",
      "name": "Assign Signup Credits",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"CREDITS_ASSIGNED\",\n  \"message\": \"Signup credits have been successfully added to your account\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        -160
      ],
      "id": "d5b90b7c-b7b6-44eb-99dc-593e135a1e8c",
      "name": "Signup Credits Assigned"
    },
    {
      "parameters": {
        "content": "## Signup Credits\n* Assign 5 credits to user account. 1 credit equates to processing of one page document.",
        "height": 336,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -320
      ],
      "typeVersion": 1,
      "id": "cfce921d-fa60-47a9-9c0c-b07e7f03445e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Remaining Credits\n* Get remaining credits of a given user",
        "height": 336,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        32
      ],
      "typeVersion": 1,
      "id": "dfb890e8-12ce-4e60-a3a5-88d16639d15e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT current_balance\nFROM resume_match.user_credit_accounts\nWHERE user_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('Webhook').item.json.body.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        192
      ],
      "id": "04b88219-cf14-41f0-ba5d-736960eee07e",
      "name": "Get Remaining Credits",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        192
      ],
      "id": "24c07726-a2be-4f61-82a8-1b35da97f097",
      "name": "Remaining Credits"
    },
    {
      "parameters": {
        "content": "## Credits History\n* Get credit history of a given user",
        "height": 336,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        384
      ],
      "typeVersion": 1,
      "id": "5dcd486c-f918-4793-b65d-c13a8d3b00a8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        544
      ],
      "id": "2a0fd8fc-31f4-4943-a53f-a64517929557",
      "name": "Credit History"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_credit_transactions",
          "mode": "list",
          "cachedResultName": "user_credit_transactions"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        544
      ],
      "id": "1cd5ef95-db8d-40ef-8a17-c1b14dfbd96e",
      "name": "Get Credit History",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Based on Credit Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Signup Credits": {
      "main": [
        [
          {
            "node": "Signup Credits Assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Remaining Credits": {
      "main": [
        [
          {
            "node": "Remaining Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Credit Event": {
      "main": [
        [
          {
            "node": "Assign Signup Credits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Remaining Credits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Credit History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credit History": {
      "main": [
        [
          {
            "node": "Credit History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d42bdaec-3e58-4966-89ea-f099501a7c40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b83bfa4e3e0b271ff1c0c7b4f0abe726faa56dea88cb27376e82445e225b7757"
  },
  "id": "_gLj78L7-ygNY4F1RcH9F",
  "tags": []
}