n8n_workflows/ResuMatchAI.json
{
  "name": "ResuMatchAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "279f5964-5445-4b94-bae3-9a6d29f0dddb",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        -80
      ],
      "id": "05a25fa6-2111-4db3-b42f-0a0ce4f0cf97",
      "name": "Webhook",
      "webhookId": "279f5964-5445-4b94-bae3-9a6d29f0dddb",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XpXKthBl9ltJ9CCe",
          "name": "ResuMatch API Key"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "=process_resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dbfbb7fe-592c-40b4-84e1-290d5f0ef773"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Process Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf448827-052f-4c29-9214-7b104d3ba72f",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "scrape_jd",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape JD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd7e2b9f-5f43-4e78-9876-3e2015591aed",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "resume_match",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resume Match"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -992,
        -96
      ],
      "id": "7ede138f-3ad7-4e1f-a94e-0cc364622db8",
      "name": "Switch Based on Event Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.binary.file.mimeType }}",
                    "rightValue": "=application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dbfbb7fe-592c-40b4-84e1-290d5f0ef773"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ae92818e-849a-4d5b-8d3a-563961c2c6e5",
                    "leftValue": "={{ $('Webhook').item.binary.file.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c12b830e-e7d6-4113-92fa-ed32438eddee",
                    "leftValue": "={{ $('Webhook').item.binary.file.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        608,
        -656
      ],
      "id": "cb400982-eee6-4a09-a307-795570b62f20",
      "name": "Switch Based on Document Type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "403cb627-c9e1-4ca1-9ef7-2f8089b7df0f",
              "leftValue": "={{ $binary.file.bytes }}",
              "rightValue": 5242880,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -672
      ],
      "id": "bfb53cbc-6bcb-4859-ba37-73a6f54491f8",
      "name": "Check File Size is less than 5MB"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"status\": \"FILE_TOO_LARGE\",\n  \"message\": \"File size exceeds 5MB limit\"\n}",
        "options": {
          "responseCode": 413
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -128,
        -976
      ],
      "id": "4cc34345-76ee-4472-8285-ea0a3432788b",
      "name": "Large File Size"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ $('Webhook').item.binary.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        816,
        -464
      ],
      "id": "07cc4787-ff37-4d42-a3b5-e413b3eb8c98",
      "name": "Extract from Text"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $('Webhook').item.binary.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        816,
        -640
      ],
      "id": "c8e2ece4-d091-45b1-8cc2-e25442414fae",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"PAGE_LIMIT_EXCEEDED\",\n  \"message\": \"Document exceeds the maximum allowed page count\"\n} ",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1760,
        -864
      ],
      "id": "b6264bd7-1491-4bbd-8fc2-241bad1b19ac",
      "name": "Page Limit Exceeded"
    },
    {
      "parameters": {
        "inputBinaryField": "={{ $('Webhook').item.binary.file }}"
      },
      "type": "n8n-nodes-docx-converter-enhanced.docxToTextEnhanced",
      "typeVersion": 1,
      "position": [
        816,
        -832
      ],
      "id": "f7286209-e025-41af-bcea-0bf55f1936e9",
      "name": "Extract from DOCX"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce3470a7-f1f8-4115-898c-ec337d2a614b",
              "leftValue": "={{ $json.num_pages }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "11d043fe-e97a-43fc-bd5c-1e812a01dd86",
              "leftValue": "={{ $json.num_characters }}",
              "rightValue": 6000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        -640
      ],
      "id": "c280f8a4-bc72-41b2-9610-44291ff57007",
      "name": "Check If Pages are more than 5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    EXISTS (\n        SELECT 1\n        FROM resume_match.user_resume\n        WHERE user_id = $1\n          AND checksum = $2\n    ) AS doc_exists,\n    (\n        SELECT file_id\n        FROM resume_match.user_resume\n        WHERE user_id = $1\n          AND checksum = $2\n        LIMIT 1\n    ) AS file_id,\n    (\n        SELECT is_candidate\n        FROM resume_match.user_resume\n        WHERE user_id = $1\n          AND checksum = $2\n        LIMIT 1\n    ) AS is_candidate,\n    (\n        SELECT file_name\n        FROM resume_match.user_resume\n        WHERE user_id = $1\n          AND checksum = $2\n        LIMIT 1\n    ) AS file_name;\n",
        "options": {
          "queryReplacement": "={{ $json.body.user_id }}, {{ $json.doc_hash }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        -656
      ],
      "id": "20fe03e8-e94a-419d-b56a-7142b03213a2",
      "name": "Check for Duplicate Document",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "764c54bb-1ce1-4fa8-9c07-d4902d58ee37",
              "leftValue": "={{ $json.doc_exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -656
      ],
      "id": "9cb459e8-d339-4222-a2d5-84aea2033937",
      "name": "If Doc Exists"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"DUPLICATE_DOCUMENT\",\n  \"message\": \"A document with this ID or hash already exists\",\n  \"details\": {\n    \"existing_document_name\": {{ JSON.stringify($json.file_name) }}\n  }\n} ",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        -1056
      ],
      "id": "2998ecb7-3c7e-4784-9137-74daff63ac00",
      "name": "Duplicate Document"
    },
    {
      "parameters": {
        "content": "## Resume Processing Pipeline\n",
        "height": 800,
        "width": 4784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -1072
      ],
      "typeVersion": 1,
      "id": "22a950ff-95c2-4775-86b3-bc11c0d19e7f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Table(s)\n\n* Create the following tables in resume_match schema:\n      - user_documents\n      - user_credit_accounts\n      - user_credit_transactions\n",
        "height": 400,
        "width": 1200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -1504
      ],
      "typeVersion": 1,
      "id": "7772d1c8-19cd-4244-92d7-f3d00af19efb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ $('Webhook').item.binary.file }}",
        "destinationKey": "file_base64_string",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3072,
        -896
      ],
      "id": "32fa2030-6b19-4137-a894-276caa5bc1fd",
      "name": "Covert File to Base64 String"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_resume",
          "mode": "list",
          "cachedResultName": "user_resume"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_size": "={{ $json.file_size }}",
            "num_pages": "={{ $json.num_pages }}",
            "file_name": "={{ $json.file_name }}",
            "checksum": "={{ $json.checksum }}",
            "created_at": "={{ $now }}",
            "user_id": "={{ $json.user_id }}",
            "mime_type": "={{ $json.mime_type }}",
            "num_characters": "={{ $json.num_characters }}",
            "file_text": "={{ $json.text }}",
            "is_scanned": "={{ $json.is_scanned }}",
            "num_words": "={{ $json.num_words }}",
            "is_candidate": "={{ $json.is_candidate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_pages",
              "displayName": "num_pages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_characters",
              "displayName": "num_characters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_words",
              "displayName": "num_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_scanned",
              "displayName": "is_scanned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_resume",
              "displayName": "is_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_candidate",
              "displayName": "is_candidate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_binary_data",
              "displayName": "file_binary_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_text",
              "displayName": "file_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checksum",
              "displayName": "checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        -624
      ],
      "id": "8883c84f-10f4-4685-807f-a71943773763",
      "name": "Insert Resume Data in User Documents Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE resume_match.user_resume\nSET\n    file_binary_data = decode($3, 'base64')\nWHERE\n    file_id = $2\n    AND user_id = $1;\n\n\n",
        "options": {
          "queryReplacement": "={{ $('Insert Resume Data in User Documents Table').item.json.user_id }}, {{ $('Insert Resume Data in User Documents Table').item.json.file_id }}, {{ $json.file_base64_string }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        -896
      ],
      "id": "d6615896-9c37-4adc-92d4-6d653a094fa8",
      "name": "Add File Binary Data in User Documents Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"DOCUMENT_PROCESSED\",\n  \"message\": \"Document processed successfully\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4000,
        -432
      ],
      "id": "d9e01b0f-6150-407c-98f9-0cf6910706c8",
      "name": "Sucess"
    },
    {
      "parameters": {
        "binaryProperty": "={{ $('Webhook').item.binary.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        2448,
        -784
      ],
      "id": "04547a28-328a-4625-96ca-0c24f561a0a4",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "OY0V9rkpKl5ycrLQ",
          "name": "OCR"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9a1bd0f-97a7-488e-a4ef-c8a9102d6abb",
              "leftValue": "={{ $('File Data').item.json.num_characters }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2224,
        -640
      ],
      "id": "b23c09bf-0dac-4562-8021-3fd73ddee9f1",
      "name": "Check if OCR Required"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"PROCESSING_FAILED\",\n  \"message\": {{ $json.error.toJsonString() }}\n} ",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2640,
        -768
      ],
      "id": "37c1c950-0a5a-4db2-9f9a-bbd0464abe5d",
      "name": "OCR Failure"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03046748-43c6-4ffb-a5e2-db27dc150f1d",
              "name": "user_id",
              "value": "={{ $('File Data').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "b2ddca99-0582-45ef-b92d-c03c11e069fa",
              "name": "is_candidate",
              "value": "={{ $('File Data').item.json.is_candidate }}",
              "type": "boolean"
            },
            {
              "id": "0cfb61e9-9d4b-4a3b-8470-9708d4e37499",
              "name": "file_name",
              "value": "={{ $('File Data').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "a349afd4-c0b5-4c3f-80c0-8b1b414f499f",
              "name": "file_size",
              "value": "={{ $('File Data').item.json.file_size }}",
              "type": "string"
            },
            {
              "id": "56ce0947-6a7c-4610-891a-93312a22763e",
              "name": "mime_type",
              "value": "={{ $('File Data').item.json.mime_type }}",
              "type": "string"
            },
            {
              "id": "7e0382cb-6849-4c4d-9bbe-72f915efa97b",
              "name": "num_pages",
              "value": "={{ $('File Data').item.json.num_pages }}",
              "type": "number"
            },
            {
              "id": "c17b4298-2a3b-4af4-b56e-edd53af3aa6f",
              "name": "num_characters",
              "value": "={{ $json.extractedText.replace(/\\n/g, '').length }}",
              "type": "number"
            },
            {
              "id": "bd53037b-bd3c-48de-9c38-057d4ef008f9",
              "name": "num_words",
              "value": "={{ $json.extractedText ? $json.extractedText.trim().split(/\\s+/).length : 0 }}",
              "type": "string"
            },
            {
              "id": "e77b33bf-232a-42c7-9a81-77b8735d805c",
              "name": "checksum",
              "value": "={{ $('File Data').item.json.checksum }}",
              "type": "string"
            },
            {
              "id": "1c886661-b405-47e7-87fd-6c828f43b0d3",
              "name": "is_scanned",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a3439bac-cebb-468b-964c-4d62c08e3392",
              "name": "text",
              "value": "={{ $json.extractedText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        -944
      ],
      "id": "90b070e0-8150-4304-8b03-0d4b4eb0813c",
      "name": "File Text and Metadata"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a document classifier specialized in identifying professional resumes/CVs.\n\nTASK:\nAnalyze the input text and determine whether it is a resume (CV) or not.\n\nOUTPUT FORMAT:\nReturn ONLY a valid JSON object with this exact structure:\n{\n  \"is_resume\": true | false,\n  \"reasoning\": \"A concise 1-2 sentence explanation of your decision\"\n}\n\nCLASSIFICATION GUIDELINES:\nConsider the text a resume if it contains MOST of these signals:\n✓ Personal identification (name, contact info: email/phone/location)\n✓ Professional summary or objective statement\n✓ Work experience section with job titles, companies, and dates\n✓ Education section with degrees, institutions, and graduation years\n✓ Skills section (technical, soft skills, certifications, or tools)\n✓ Action-oriented language (e.g., \"managed\", \"developed\", \"led\")\n✓ Chronological or functional structure typical of CVs\n\nConsider it NOT a resume if it:\n✗ Is a cover letter, job description, personal bio, or social media profile\n✗ Lacks structured professional sections (experience, education, skills)\n✗ Contains primarily narrative, promotional, or informal content\n✗ Focuses on a single project, opinion, or event without career history\n\nINPUT TEXT:\n\"\"\"\n{{ $json.file_text }}\n\"\"\"\n\nRESPOND WITH JSON ONLY. Do not add explanations, markdown, or extra text outside the JSON object.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3072,
        -624
      ],
      "id": "1441b7ec-ef09-4940-8f12-dd5ee974f310",
      "name": "Resume Validator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3072,
        -384
      ],
      "id": "84bb955f-0227-40f5-99b8-fa3b0871847f",
      "name": "5_Nano",
      "credentials": {
        "openAiApi": {
          "id": "Sere8u6jNWIQKOji",
          "name": "OpenAI Zeeshan"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"INVALID_RESUME\",\n  \"message\": {{ $json.reasoning.toJsonString() }}\n} ",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3984,
        -640
      ],
      "id": "cecf050c-519b-4602-b438-a20dc7746562",
      "name": "Invalid Resume"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40be91c2-ce2f-4a84-b04c-8c59975f1f1f",
              "name": "text",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "c5e44217-1ff8-4783-932b-8c3d61689ab8",
              "name": "num_characters",
              "value": "={{$json.data.replace(/\\n/g, '').length}}",
              "type": "string"
            },
            {
              "id": "f9e61d4c-a36f-423d-a3d4-f11332bd207e",
              "name": "num_words",
              "value": "={{ $json.data ? $json.data.trim().split(/\\s+/).length : 0 }}",
              "type": "string"
            },
            {
              "id": "373c9985-9bf2-411c-ac71-b9e59b3d8a31",
              "name": "num_pages",
              "value": "={{ Math.trunc($json.data ? $json.data.trim().split(/\\s+/).length/100 : 0)   }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -464
      ],
      "id": "3b471b7a-ef19-4b06-8c94-03781d5ad672",
      "name": "Text File Contents"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40be91c2-ce2f-4a84-b04c-8c59975f1f1f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "d7a65fee-f3b3-4795-981e-b827029bfca8",
              "name": "num_characters",
              "value": "={{$json.text.replace(/\\n/g, '').length}}",
              "type": "string"
            },
            {
              "id": "6d5d0d42-3cde-4e8a-b7f1-eb63be2065e4",
              "name": "num_words",
              "value": "={{ $json.text ? $json.text.trim().split(/\\s+/).length : 0 }}",
              "type": "string"
            },
            {
              "id": "53d46e10-f769-4af1-b547-4c840a4b93bf",
              "name": "num_pages",
              "value": "={{ $json.numpages }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -640
      ],
      "id": "c8cdd0db-ea52-4baa-9db2-7ba178251e30",
      "name": "PDF File Contents"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40be91c2-ce2f-4a84-b04c-8c59975f1f1f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "39d49e5e-7647-42ec-9ffa-5f6fc7b77710",
              "name": "num_characters",
              "value": "={{$json.text.replace(/\\n/g, '').length}}",
              "type": "string"
            },
            {
              "id": "c3c4d4cd-09f6-4c05-be78-d7b77458cd34",
              "name": "num_pages",
              "value": "={{ $json.metadata.pageCount }}",
              "type": "number"
            },
            {
              "id": "1fb186ae-e9cf-44b2-a66d-bde4ef77f404",
              "name": "num_words",
              "value": "={{ $json.metadata.wordCount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -832
      ],
      "id": "9d0ad150-c45a-457a-b7cb-8895aaa7a39d",
      "name": "Docx File Contents"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c37510c-085c-4085-a5e0-58c7331f34bb",
              "leftValue": "={{ $json.is_resume }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3632,
        -624
      ],
      "id": "14f17a9f-aad8-459b-b416-33b887196235",
      "name": "If Invalid Resume"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc2bf9af-5429-422a-866a-c73e7bee7192",
              "name": "is_resume",
              "value": "={{ $json.output.is_resume }}",
              "type": "boolean"
            },
            {
              "id": "95fa56c8-0776-4807-be6b-2618ad7d758a",
              "name": "reasoning",
              "value": "={{ $json.output.reasoning }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        -624
      ],
      "id": "b771d4be-754b-47a5-8745-cbbacc41b622",
      "name": "Resume Validator Data"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_resume",
          "mode": "list",
          "cachedResultName": "user_resume"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_resume": "={{ $json.is_resume }}",
            "file_id": "={{ $('Insert Resume Data in User Documents Table').item.json.file_id }}",
            "reasoning": "={{ $json.reasoning }}",
            "user_id": "={{ $('Insert Resume Data in User Documents Table').item.json.user_id }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "num_pages",
              "displayName": "num_pages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "num_characters",
              "displayName": "num_characters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "num_words",
              "displayName": "num_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "is_scanned",
              "displayName": "is_scanned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "is_resume",
              "displayName": "is_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "file_binary_data",
              "displayName": "file_binary_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "file_text",
              "displayName": "file_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "checksum",
              "displayName": "checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3696,
        -896
      ],
      "id": "05699b39-ef8b-4525-84dc-be56c8a4b9ed",
      "name": "Add Resume Validator Response in User Documents Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable UUID generation\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\n\n-- Create schema if missing\nCREATE SCHEMA IF NOT EXISTS resume_match;\n\n-- Create table if missing\nCREATE TABLE IF NOT EXISTS resume_match.user_credit_accounts (\n    user_id UUID PRIMARY KEY,\n    current_balance INT NOT NULL DEFAULT 0 CHECK (current_balance >= 0),\n    created_at TIMESTAMPTZ DEFAULT now(),\n    updated_at TIMESTAMPTZ DEFAULT now()\n\n);\n\nCREATE OR REPLACE FUNCTION resume_match.set_updated_at()\nRETURNS TRIGGER AS $$\nBEGIN\n    NEW.updated_at = now();\n    RETURN NEW;\nEND;\n$$ LANGUAGE plpgsql;\n\nCREATE TRIGGER trg_credit_accounts_updated\nBEFORE UPDATE ON resume_match.user_credit_accounts\nFOR EACH ROW\nEXECUTE FUNCTION resume_match.set_updated_at();\n\n-- Index on user_id for faster queries\nCREATE INDEX IF NOT EXISTS idx_user_credit_accounts_user_id\nON resume_match.user_credit_accounts(user_id);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        -1312
      ],
      "id": "e4389a78-0ff3-47fc-9c03-a406f1dc7275",
      "name": "Create User Credit Accounts Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable UUID generation\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\n\n-- Create schema if missing\nCREATE SCHEMA IF NOT EXISTS resume_match;\n\n-- Create table if missing\nCREATE TABLE IF NOT EXISTS resume_match.user_credit_transactions  (\n    transaction_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    user_id UUID NOT NULL,\n    transaction_type TEXT NOT NULL\n        CHECK (transaction_type IN (\n            'signup_bonus',\n            'resume_processing',\n            'jd_processing',\n            'refund',\n            'manual_adjustment'\n        )),\n    credits_delta INT NOT NULL CHECK (credits_delta <> 0),\n    reference_id UUID,\n    name_snapshot TEXT,\n    description TEXT,\n    created_at TIMESTAMPTZ DEFAULT now(),\n\n    CONSTRAINT fk_credit_user\n        FOREIGN KEY (user_id)\n        REFERENCES resume_match.user_credit_accounts(user_id)\n        ON DELETE CASCADE\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -1312
      ],
      "id": "c3349557-8812-4ce2-82a9-a1e01cbfdef9",
      "name": "Create User Credit Transactions Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT current_balance\nFROM resume_match.user_credit_accounts\nWHERE user_id = $1;\n",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1712,
        -624
      ],
      "id": "1582a6b3-23f4-4be5-860c-4d1c090fefc3",
      "name": "Get User Credit Balance",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3452209-bdfe-46a9-aa9d-31c079aa0899",
              "leftValue": "={{ $json.current_balance }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -624
      ],
      "id": "ff52d9c1-e625-4cd1-86cc-25fb1ce8ea2d",
      "name": "If Current Balance is not Sufficient"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"INSUFFICIENT_CREDITS\",\n  \"message\": \"Your current credit balance is insufficient to process this request\",\n  \"details\": {\n    \"current_balance\": {{ $json.current_balance }}\n  }\n} ",
        "options": {
          "responseCode": 402
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2176,
        -416
      ],
      "id": "e04975bc-cec1-444b-b1e6-ee6c20be7ad1",
      "name": "Insufficient Credit Balance"
    },
    {
      "parameters": {
        "content": "## Scrape JD\n",
        "height": 512,
        "width": 3040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -240
      ],
      "typeVersion": 1,
      "id": "758ff993-0678-49ee-81e3-984b894cff1c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "batchScrape",
        "urls": "={{ $('Webhook').item.json.body.jd_url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        112,
        -64
      ],
      "id": "0040545b-3edd-4912-a8d1-d1891b12884b",
      "name": "Scrape JDs",
      "credentials": {
        "firecrawlApi": {
          "id": "ziNIjJwd1rDqR9Pz",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data?.url || $json.url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "firecrawlApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -64
      ],
      "id": "d5dc28d1-1512-4fb4-9595-7e742aa18562",
      "name": "Retrieve JDs",
      "credentials": {
        "firecrawlApi": {
          "id": "ziNIjJwd1rDqR9Pz",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8a583a8-c53a-4d91-a4d5-ae7d27ec1e21",
              "name": "markdown",
              "value": "={{ $json.data[0].markdown }}",
              "type": "string"
            },
            {
              "id": "35ffdd9c-17b3-48cd-95e8-7552e6b94996",
              "name": "markdown_description",
              "value": "={{ $json.data[0].metadata.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -224
      ],
      "id": "9294f89b-ead6-457b-8608-89cb2cdef213",
      "name": "JDs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR Data Extraction Agent. Your task is to process raw text scraped from websites and:\n1. First verify if the content is actually a Job Description posting.\n2. If YES: Extract relevant details into structured JSON.\n3. If NO: Set the validation flag to false and return null for all fields.\n\nINPUT CONTEXT:\nThe input text may contain noise such as website headers, footers, navigation menus, cookie notices, advertisements, blog posts, company about pages, or HTML artifacts.\n\nSTEP 1 - VALIDATION:\nDetermine if the text represents a legitimate job posting. Consider it a job description ONLY if it contains MOST of these signals:\n✓ A clear job title for an open position\n✓ Company name hiring for the role\n✓ Location or work arrangement details\n✓ Responsibilities or duties of the role\n✓ Requirements, qualifications, or skills needed\n✓ Employment type (Full-time, Part-time, Contract, etc.)\n\nIf the text is a company blog post, news article, generic careers page, employee profile, or unrelated content → mark as NOT a job description.\n\nSTEP 2 - EXTRACTION (only if validation passes):\nExtract the following fields. If a field is not found, set its value to null.\n\nOUTPUT JSON SCHEMA:\n{\n  \"is_job_description\": true | false,\n  \"job_title\": \"String or null\",\n  \"company_name\": \"String or null\",\n  \"location\": \"String or null\",\n  \"employment_type\": \"String or null\",\n  \"description\": \"String or null\",\n  \"responsibilities\": [\"Array of Strings or empty array\"],\n  \"requirements\": [\"Array of Strings or empty array\"],\n  \"benefits\": [\"Array of Strings or empty array\"],\n  \"validation_note\": \"Brief 1-sentence reason for the validation decision\"\n}\n\nCONSTRAINTS:\n- Return ONLY valid raw JSON.\n- Do NOT wrap the output in markdown code blocks (no ```json).\n- Do NOT include any introductory text, explanations, or reasoning outside the JSON.\n- If \"is_job_description\" is false, ALL other fields MUST be null (arrays should be null, not empty).\n- Ensure all strings are properly escaped for JSON compatibility.\n- Do not hallucinate information; extract only what is explicitly present in the text.\n\nINPUT TEXT:\n\"\"\"\n{{ $json.markdown }}\n\n{{ $json.markdown_description }}\n\n\"\"\"\n\nRESPOND WITH JSON ONLY:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        -224
      ],
      "id": "217fc91b-83e5-4a1d-8126-c61bbb3df47d",
      "name": "HR Data Extraction Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_resume\": true,\n  \"reasoning\": \"A concise 1-2 sentence explanation of your decision\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3216,
        -400
      ],
      "id": "47957f3b-3292-423d-9e5e-2b050f5e16be",
      "name": "Resume Validator Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low",
          "timeout": 600000,
          "serviceTier": "flex"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        -48
      ],
      "id": "16f60b92-0a24-4e36-8024-006bea4a3042",
      "name": "5_Nano_Flex",
      "credentials": {
        "openAiApi": {
          "id": "Sere8u6jNWIQKOji",
          "name": "OpenAI Zeeshan"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable UUID generation\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\n\n-- Create schema if missing\nCREATE SCHEMA IF NOT EXISTS resume_match;\n\n-- Create table if missing\nCREATE TABLE IF NOT EXISTS resume_match.user_jds (\n\n   url_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n   jd_url TEXT,\n   user_id UUID NOT NULL,\n   is_candidate BOOLEAN,\n\n   is_jd BOOLEAN DEFAULT TRUE,\n   validation_note TEXT,\n   jd_object JSONB,\n  \n   checksum TEXT,  \n   created_at TIMESTAMPTZ DEFAULT now(),\n   updated_at TIMESTAMPTZ DEFAULT now()\n);\n-- Trigger function to update updated_at automatically\nCREATE OR REPLACE FUNCTION resume_match.set_updated_at()\nRETURNS TRIGGER AS $$\nBEGIN\n    NEW.updated_at = now();\n    RETURN NEW;\nEND;\n$$ LANGUAGE plpgsql;\n\n-- Attach trigger to the table\nCREATE TRIGGER trg_user_jds_updated_at\nBEFORE UPDATE ON resume_match.user_jds\nFOR EACH ROW\nEXECUTE FUNCTION resume_match.set_updated_at();\n\n-- Index on user_id for faster queries\nCREATE INDEX IF NOT EXISTS idx_user_jds_user_id\nON resume_match.user_jds(user_id);\n\n-- Unique index on checksum to prevent storing duplicate files\nCREATE UNIQUE INDEX IF NOT EXISTS idx_user_jds_checksum\nON resume_match.user_jds(checksum);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        -1312
      ],
      "id": "8f65723c-9f4b-488f-a242-6a8ce3525d96",
      "name": "Create User JD Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.body.jd_url + $json.body.is_candidate }}",
        "dataPropertyName": "url_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -480,
        -80
      ],
      "id": "18c625b7-7fed-438b-b8fa-88c2da231f16",
      "name": "Generate URL Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    EXISTS (\n        SELECT 1\n        FROM resume_match.user_jds\n        WHERE user_id = $1\n          AND checksum = $2\n    ) AS url_exists,\n    (\n        SELECT url_id\n        FROM resume_match.user_jds\n        WHERE user_id = $1\n          AND checksum = $2\n        LIMIT 1\n    ) AS url_id,\n    (\n        SELECT jd_url\n        FROM resume_match.user_jds\n        WHERE user_id = $1\n          AND checksum = $2\n        LIMIT 1\n    ) AS jd_url;\n",
        "options": {
          "queryReplacement": "={{ $json.body.user_id }}, {{ $json.url_hash }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -80
      ],
      "id": "5bfbc114-cb3e-4318-8e17-348e0f57d4a7",
      "name": "Check for Duplicate URL",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "764c54bb-1ce1-4fa8-9c07-d4902d58ee37",
              "leftValue": "={{ $json.url_exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        -80
      ],
      "id": "1428a4b8-8d05-4c6f-af56-af2aaba83a68",
      "name": "If URL Exists"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"DUPLICATE_URL\",\n  \"message\": \"This URL already exists\",\n  \"details\": {\n    \"existing_url_id\": {{ JSON.stringify($json.url_id) }},\n    \"existing_url\": {{ JSON.stringify($json.jd_url) }}\n  }\n} ",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        128,
        -224
      ],
      "id": "acb68e79-8316-4f5f-a81d-82c618932f5a",
      "name": "Duplicate URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f61309ef-6cc4-44f0-ba9a-cff8382e4cac",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        -64
      ],
      "id": "4e115144-c833-4d4e-b182-acfde5b9d6c6",
      "name": "Check If Scraping Completed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "421e1129-9cda-4892-99e9-86e589c89064",
              "name": "url",
              "value": "={{ $('Scrape JDs').item.json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        80
      ],
      "id": "1bf9c000-5a49-4da0-ac65-0ed750167502",
      "name": "URL"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_jds",
          "mode": "list",
          "cachedResultName": "user_jds"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_jd": "={{ $json.is_jd }}",
            "jd_url": "={{ $('Webhook').item.json.body.jd_url }}",
            "user_id": "={{ $('Webhook').item.json.body.user_id }}",
            "validation_note": "={{ $json.validation_note }}",
            "jd_object": "={{ $json.jd_object }}",
            "created_at": "={{ $now }}",
            "checksum": "={{ $('Generate URL Hash').item.json.url_hash }}",
            "is_candidate": "={{ $('Webhook').item.json.body.is_candidate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "jd_url",
              "displayName": "jd_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_candidate",
              "displayName": "is_candidate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_jd",
              "displayName": "is_jd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_note",
              "displayName": "validation_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jd_object",
              "displayName": "jd_object",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "checksum",
              "displayName": "checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        -224
      ],
      "id": "a999ea88-24a6-4f92-9743-57bb64aeedd8",
      "name": "Insert JD Data in User JDs Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c37510c-085c-4085-a5e0-58c7331f34bb",
              "leftValue": "={{ $json.is_jd }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        48
      ],
      "id": "96ba408f-2ee5-4715-8515-196b60181e26",
      "name": "If Invalid JD"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"INVALID_JD\",\n  \"message\": {{ $json.validation_note.toJsonString() }}\n} ",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1840,
        -32
      ],
      "id": "b64a8bf7-f00c-491c-8218-9a4618df9f63",
      "name": "Invalid JD"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"URL_PROCESSED\",\n  \"message\": \"URL processed successfully\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1840,
        144
      ],
      "id": "e864fe24-9dac-4dfb-803c-3db5366d8327",
      "name": "URL Processed Sucess"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d6d0bca-39f7-4bf3-a05f-7c471f02c929",
              "name": "is_jd",
              "value": "={{ $json.output.parseJson().is_job_description }}",
              "type": "boolean"
            },
            {
              "id": "43b544c0-b412-4435-9f0e-da2a1164801f",
              "name": "validation_note",
              "value": "={{ $json.output.parseJson().validation_note }}",
              "type": "string"
            },
            {
              "id": "40d9073a-bd1f-4cac-a7f6-48b22ff2d5b1",
              "name": "jd_object",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -224
      ],
      "id": "d121162b-6bc3-417b-8c4e-a455559834d6",
      "name": "JD Validator Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        80
      ],
      "id": "b1fd22c0-530d-43c0-a26b-14cfba74ce1a",
      "name": "Wait 5 secs",
      "webhookId": "f9e173be-0e25-4aac-a865-84bbb773ad39"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deduction AS (\n    UPDATE resume_match.user_credit_accounts\n    SET current_balance = current_balance - 1\n    WHERE user_id = $1::uuid\n      AND current_balance >= 1\n    RETURNING user_id\n)\nINSERT INTO resume_match.user_credit_transactions (\n    user_id,\n    transaction_type,\n    credits_delta,\n    reference_id,\n    name_snapshot,\n    description\n)\nSELECT\n    $1::uuid,\n    'resume_processing',\n    -1,\n    $2::uuid,\n    $3::text,\n    'Resume Processing'\nFROM deduction;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}, {{ $json.file_id }}, {{ $json.file_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3952,
        -896
      ],
      "id": "4d8a829e-b31b-4e6c-a025-52a9b02748a3",
      "name": "Deduct Credits for Resume Processing",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97334f9b-9da4-4e7c-8f92-e1aa01843f8e",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "c0f0f42d-0fd8-4576-b20d-4f66701520a2",
              "name": "file_name",
              "value": "={{ $('Webhook').item.binary.file.fileName }}",
              "type": "string"
            },
            {
              "id": "d35337e5-c615-4490-a77f-661b17807a64",
              "name": "is_candidate",
              "value": "={{ $('Webhook').item.json.body.is_candidate }}",
              "type": "boolean"
            },
            {
              "id": "334ff229-5cc0-452d-bb64-2c61ca23526b",
              "name": "=file_size",
              "value": "={{ $('Webhook').item.binary.file.bytes }}",
              "type": "string"
            },
            {
              "id": "41ae43d2-0059-4739-9de3-6f4ef682f6c6",
              "name": "mime_type",
              "value": "={{ $('Webhook').item.binary.file.mimeType }}",
              "type": "string"
            },
            {
              "id": "a3e3ab8c-cd5f-48cd-8cb3-9c2fddb22b91",
              "name": "num_pages",
              "value": "={{ $json.num_pages }}",
              "type": "number"
            },
            {
              "id": "4310eea2-5121-401e-9551-1d64d13dcced",
              "name": "num_characters",
              "value": "={{ $json.num_characters }}",
              "type": "number"
            },
            {
              "id": "c3f5ed76-4899-41be-bdfe-225864400415",
              "name": "num_words",
              "value": "={{ $json.num_words }}",
              "type": "string"
            },
            {
              "id": "9c96a04d-fe6e-4e3e-96ba-3cebfa87b2cb",
              "name": "is_scanned",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "5b12022a-0200-4dd6-ae5d-9d4d49d6efcf",
              "name": "checksum",
              "value": "={{ $('Generate Doc Hash').item.json.doc_hash }}",
              "type": "string"
            },
            {
              "id": "124c5b27-184e-4494-af5d-ecf7f5cb7768",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -640
      ],
      "id": "17d61d77-a45c-4c7d-8abb-b9d45167f39b",
      "name": "File Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97334f9b-9da4-4e7c-8f92-e1aa01843f8e",
              "name": "user_id",
              "value": "={{ $('File Data').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "0f9ddbd8-a1a9-4e18-a4c1-38edebbe7d2c",
              "name": "is_candidate",
              "value": "={{ $('File Data').item.json.is_candidate }}",
              "type": "boolean"
            },
            {
              "id": "c0f0f42d-0fd8-4576-b20d-4f66701520a2",
              "name": "file_name",
              "value": "={{ $('File Data').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "334ff229-5cc0-452d-bb64-2c61ca23526b",
              "name": "file_size",
              "value": "={{ $('File Data').item.json.file_size }}",
              "type": "string"
            },
            {
              "id": "41ae43d2-0059-4739-9de3-6f4ef682f6c6",
              "name": "mime_type",
              "value": "={{ $('File Data').item.json.mime_type }}",
              "type": "string"
            },
            {
              "id": "a3e3ab8c-cd5f-48cd-8cb3-9c2fddb22b91",
              "name": "num_pages",
              "value": "={{ $('File Data').item.json.num_pages }}",
              "type": "number"
            },
            {
              "id": "4310eea2-5121-401e-9551-1d64d13dcced",
              "name": "num_characters",
              "value": "={{ $('File Data').item.json.num_characters }}",
              "type": "number"
            },
            {
              "id": "c3f5ed76-4899-41be-bdfe-225864400415",
              "name": "num_words",
              "value": "={{ $('File Data').item.json.num_words }}",
              "type": "string"
            },
            {
              "id": "9c96a04d-fe6e-4e3e-96ba-3cebfa87b2cb",
              "name": "is_scanned",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "5b12022a-0200-4dd6-ae5d-9d4d49d6efcf",
              "name": "checksum",
              "value": "={{ $('File Data').item.json.checksum }}",
              "type": "string"
            },
            {
              "id": "124c5b27-184e-4494-af5d-ecf7f5cb7768",
              "name": "text",
              "value": "={{ $('File Data').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        -624
      ],
      "id": "f3902ddf-8274-4baa-b767-937d62f429c6",
      "name": "Data for Insertion"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deduction AS (\n    UPDATE resume_match.user_credit_accounts\n    SET current_balance = current_balance - 1\n    WHERE user_id = $1::uuid\n      AND current_balance >= 1\n    RETURNING user_id\n)\nINSERT INTO resume_match.user_credit_transactions (\n    user_id,\n    transaction_type,\n    credits_delta,\n    reference_id,\n    name_snapshot,\n    description\n)\nSELECT\n    $1::uuid,\n    'jd_processing',\n    -1,\n    $2::uuid,\n    $3::text,\n    'Job Description Processing'\nFROM deduction;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}, {{ $json.url_id }}, {{ $json.jd_url }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        -224
      ],
      "id": "2ac9376b-5bbc-4bd2-bfcc-398b7a3ceb2e",
      "name": "Deduct Credits for JD Processing",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    is_resume,\n    file_text\nFROM resume_match.user_resume\nWHERE user_id = $1\n  AND file_id = $2;\n",
        "options": {
          "queryReplacement": "={{ $json.body.user_id }}, {{ $json.body.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        432
      ],
      "id": "6754fd0d-a6b4-46ea-a463-99bdc806be39",
      "name": "Get Resume Text",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    is_jd,\n    jd_object\nFROM resume_match.user_jds\nWHERE user_id = $1\n  AND url_id = $2;\n",
        "options": {
          "queryReplacement": "={{ $('Webhook').item.json.body.user_id }}, {{ $('Webhook').item.json.body.url_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        432
      ],
      "id": "98b57084-8c14-4b64-ae9e-6a4c623595ec",
      "name": "Get JD Details",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c338d02c-60a8-4679-95fc-8428e5e8d10c",
              "name": "is_jd",
              "value": "={{ $json.is_jd }}",
              "type": "boolean"
            },
            {
              "id": "596a634a-90b5-4f62-8db3-dd8c805f1180",
              "name": "is_resume",
              "value": "={{ $('Get Resume Text').item.json.is_resume }}",
              "type": "boolean"
            },
            {
              "id": "8f360759-5369-41ff-9677-2146263beeba",
              "name": "resume_contents",
              "value": "={{ $('Get Resume Text').item.json.file_text }}",
              "type": "string"
            },
            {
              "id": "c4bee508-0e2c-4450-bb3f-2b9d704561f0",
              "name": "job_description",
              "value": "=Job Title: {{ $json.jd_object.job_title }}\nCompany Name: {{ $json.jd_object.company_name }}\nLocation: {{ $json.jd_object.location }}\nJob Description: {{ $json.jd_object.description }}\nJob Requirements: {{ $json.jd_object.requirements.map(item => ` * ${item}`).join('\\n') }}\nJob Responsibilities: {{ $json.jd_object.responsibilities.map(item => ` * ${item}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        432
      ],
      "id": "56bb0457-7106-46c6-b6e8-0c47837f8706",
      "name": "Data"
    },
    {
      "parameters": {
        "content": "## Resume Matching with JDs for Candidates/Recruiters\n* Match the resume with the JD",
        "height": 1120,
        "width": 2368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        288
      ],
      "typeVersion": 1,
      "id": "53a8e80c-bf0f-4fd9-8a2c-94814e6b94e2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable UUID generation\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\n\n-- Create schema if missing\nCREATE SCHEMA IF NOT EXISTS resume_match;\n\n-- Create table if missing\nCREATE TABLE IF NOT EXISTS resume_match.user_resume (\n    file_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    user_id UUID NOT NULL,\n\n   file_name TEXT,\n   file_size BIGINT,\n   mime_type TEXT,\n   num_pages INT,\n   num_characters INT,\n   num_words INT,\n   is_scanned BOOLEAN DEFAULT FALSE,\n   is_resume BOOLEAN DEFAULT TRUE,\n   is_candidate BOOLEAN,\n   reasoning TEXT,\n  \n   file_binary_data BYTEA,\n   file_text TEXT,\n\n   checksum TEXT,  \n   created_at TIMESTAMPTZ DEFAULT now(),\n   updated_at TIMESTAMPTZ DEFAULT now()\n);\n-- Trigger function to update updated_at automatically\nCREATE OR REPLACE FUNCTION resume_match.set_updated_at()\nRETURNS TRIGGER AS $$\nBEGIN\n    NEW.updated_at = now();\n    RETURN NEW;\nEND;\n$$ LANGUAGE plpgsql;\n\n-- Attach trigger to the table\nCREATE TRIGGER trg_user_resume_updated_at\nBEFORE UPDATE ON resume_match.user_resume\nFOR EACH ROW\nEXECUTE FUNCTION resume_match.set_updated_at();\n\n-- Index on user_id for faster queries\nCREATE INDEX IF NOT EXISTS idx_user_resume_user_id\nON resume_match.user_resume(user_id);\n\n-- Unique index on checksum to prevent storing duplicate files\nCREATE UNIQUE INDEX IF NOT EXISTS idx_user_resume_checksum\nON resume_match.user_resume(checksum);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        -1312
      ],
      "id": "69db317c-e84f-4617-a42b-dcf886f4af04",
      "name": "Create User Resume Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable UUID generation\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\n\n-- Create schema if missing\nCREATE SCHEMA IF NOT EXISTS resume_match;\n\n-- Create table if missing\nCREATE TABLE IF NOT EXISTS resume_match.job_match_summary (\n\n   summary_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n   url_id UUID,\n   user_id UUID NOT NULL,\n   file_id UUID NOT NULL,\n   is_candidate BOOLEAN,\n\n   job_match_summary JSONB,\n\n   created_at TIMESTAMPTZ DEFAULT now(),\n   updated_at TIMESTAMPTZ DEFAULT now()\n);\n-- Trigger function to update updated_at automatically\nCREATE OR REPLACE FUNCTION resume_match.set_updated_at()\nRETURNS TRIGGER AS $$\nBEGIN\n    NEW.updated_at = now();\n    RETURN NEW;\nEND;\n$$ LANGUAGE plpgsql;\n\n-- Attach trigger to the table\nCREATE TRIGGER trg_job_match_summary_updated_at\nBEFORE UPDATE ON resume_match.job_match_summary\nFOR EACH ROW\nEXECUTE FUNCTION resume_match.set_updated_at();\n\n-- Index on user_id for faster queries\nCREATE INDEX IF NOT EXISTS idx_job_match_summary_user_id\nON resume_match.job_match_summary(user_id);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        -1312
      ],
      "id": "004aba57-435e-49d0-b801-89820b21b9b3",
      "name": "Create Job Match Summary Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f485a717-d7fe-481b-9a27-ec87c2d89851",
              "name": "job_match_summary",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        576
      ],
      "id": "90558eb1-0ca4-4b7f-b1d0-031ce1d975e9",
      "name": "Career Advisor Agent Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low",
          "timeout": 600000,
          "serviceTier": "flex"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        1280
      ],
      "id": "1d26cfaa-8259-41b4-b35a-ac84d7460c14",
      "name": "GPT5_Nano_Flex",
      "credentials": {
        "openAiApi": {
          "id": "Sere8u6jNWIQKOji",
          "name": "OpenAI Zeeshan"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "job_match_summary",
          "mode": "list",
          "cachedResultName": "job_match_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url_id": "={{ $('Webhook').item.json.body.url_id }}",
            "user_id": "={{ $('Webhook').item.json.body.user_id }}",
            "file_id": "={{ $('Webhook').item.json.body.file_id }}",
            "job_match_summary": "={{ $json.job_match_summary }}",
            "created_at": "={{ $now }}",
            "is_candidate": "={{ $('Webhook').item.json.body.is_candidate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary_id",
              "displayName": "summary_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_candidate",
              "displayName": "is_candidate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_match_summary",
              "displayName": "job_match_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        576
      ],
      "id": "bce90a17-7b68-4719-b67d-56d188454775",
      "name": "Insert Data in Job Match Summary Table",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        576
      ],
      "id": "e7b7b674-7a3d-41ae-b59c-a08618a57cef",
      "name": "Job Match Summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a1c315f-acd6-46a0-bdd3-bf7a9a7e053d",
              "name": "prompt",
              "value": "=You are an expert Career Advisor AI specializing in resume optimization and job matching. Your role is to:\n\n1. Analyze the user's resume and the provided job description (JD)\n2. Calculate a compatibility score (0-100%) with clear justification\n3. Perform a detailed gap analysis between current qualifications and JD requirements\n4. Provide actionable, prioritized suggestions to improve resume alignment\n5. Output results strictly in valid JSON format following the schema below\n\n### INPUT FORMAT\nYou will receive:\n- [RESUME]: The user's current resume (text or structured format)\n- [JOB_DESCRIPTION]: The target job posting with requirements, responsibilities, and preferences\n\n### OUTPUT FORMAT (STRICT JSON)\nReturn ONLY valid JSON. No markdown, no explanatory text before/after. Use this exact schema:\n\n{\n  \"match_summary\": {\n    \"overall_score_percent\": <integer 0-100>,\n    \"score_confidence\": \"high|medium|low\",\n    \"key_strengths\": [\n      {\n        \"strength\": \"<string>\",\n        \"evidence\": \"<quote or summary from resume>\",\n        \"jd_alignment\": \"<matching JD requirement>\"\n      }\n    ],\n    \"critical_gaps\": [\n      {\n        \"gap\": \"<string>\",\n        \"jd_requirement\": \"<exact JD phrase>\",\n        \"impact_level\": \"high|medium|low\",\n        \"remediation_difficulty\": \"easy|moderate|hard\"\n      }\n    ]\n  },\n  \"detailed_analysis\": {\n    \"requirements_met\": [\n      {\n        \"jd_requirement\": \"<string>\",\n        \"requirement_type\": \"must_have|preferred|nice_to_have\",\n        \"resume_evidence\": \"<string>\",\n        \"match_quality\": \"strong|moderate|weak\",\n        \"notes\": \"<optional context>\"\n      }\n    ],\n    \"gaps_and_weak_matches\": [\n      {\n        \"jd_requirement\": \"<string>\",\n        \"requirement_type\": \"must_have|preferred|nice_to_have\",\n        \"current_status\": \"<what's missing or underdeveloped>\",\n        \"impact_level\": \"high|medium|low\",\n        \"suggested_action\": \"<brief remediation idea>\"\n      }\n    ]\n  },\n  \"improvement_suggestions\": {\n    \"high_priority\": [\n      {\n        \"suggestion\": \"<actionable advice>\",\n        \"example_phrasing\": \"<before/after or template text>\",\n        \"expected_impact\": \"<how this improves match score>\",\n        \"effort_required\": \"low|medium|high\"\n      }\n    ],\n    \"medium_priority\": [\n      {\n        \"suggestion\": \"<actionable advice>\",\n        \"example_phrasing\": \"<optional>\",\n        \"expected_impact\": \"<string>\",\n        \"effort_required\": \"low|medium|high\"\n      }\n    ],\n    \"nice_to_have\": [\n      {\n        \"suggestion\": \"<polish or differentiation tip>\",\n        \"example_phrasing\": \"<optional>\",\n        \"expected_impact\": \"<string>\",\n        \"effort_required\": \"low|medium|high\"\n      }\n    ]\n  },\n  \"ats_optimization\": {\n    \"keywords_to_add\": [\n      {\n        \"keyword\": \"<string>\",\n        \"context_suggestion\": \"<where/how to include it>\",\n        \"frequency_recommendation\": \"<e.g., 1-2x in skills section>\"\n      }\n    ],\n    \"skills_to_rephrase\": [\n      {\n        \"current_phrase\": \"<string>\",\n        \"suggested_rephrase\": \"<ATS-friendly alternative>\",\n        \"reason\": \"<why this helps parsing>\"\n      }\n    ],\n    \"section_recommendations\": [\n      {\n        \"section\": \"<e.g., Experience, Skills, Summary>\",\n        \"recommendation\": \"<restructuring or ordering advice>\",\n        \"rationale\": \"<why this improves ATS scoring>\"\n      }\n    ]\n  }\n}\n\n### GUIDELINES\n- Be specific: Reference exact phrases from the JD and resume\n- Be actionable: Every suggestion must include example phrasing or clear next steps\n- Be realistic: Focus on reframing transferable skills, not fabricating experience\n- Prioritize: Order arrays by impact (highest first)\n- Stay compliant: Include ethical disclaimer in metadata\n- Handle missing data: If resume/JD is incomplete, note limitations in metadata\n\n### TONE (embedded in content)\nProfessional, constructive, and empowering. Celebrate strengths while clearly identifying growth opportunities.\n\n### ERROR HANDLING\nIf input is insufficient for analysis, return:\n{\n  \"error\": {\n    \"code\": \"INSUFFICIENT_INPUT\",\n    \"message\": \"<clear description of what's missing>\",\n    \"required_fields\": [\"RESUME\", \"JOB_DESCRIPTION\"]\n  }\n}\n\nBegin analysis only after receiving both [RESUME] and [JOB_DESCRIPTION]. Output ONLY JSON.\nUser Message:\nPlease analyze my resume against this job description.\n \n[RESUME]\n{{ $json.resume_contents }}\n \n[JOB_DESCRIPTION]\n{{ $json.job_description }}\n ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        416
      ],
      "id": "eecc2a7e-026c-4918-80ab-ced20e407e4e",
      "name": "Prompt for ResuMatch Candidate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a1c315f-acd6-46a0-bdd3-bf7a9a7e053d",
              "name": "prompt",
              "value": "=System Prompt:\nYou are a Resume-Job Matching AI. Your sole purpose is to evaluate how well a candidate's resume aligns with a provided job description and return a concise match assessment.\n\n### INPUT\nYou will receive:\n- [RESUME]: Candidate's resume text\n- [JOB_DESCRIPTION]: Target job posting text\n\n### OUTPUT (STRICT JSON ONLY)\nReturn ONLY this JSON structure. No markdown, no extra text, no explanations before or after.\n\n{\n  \"match_summary\": {\n    \"overall_score_percent\": <integer 0-100>,\n    \"score_confidence\": \"high|medium|low\",\n    \"rationale\": \"<2-3 sentence plain-text explanation of why this score was assigned, referencing key alignments or gaps>\"\n  }\n}\n\n### SCORING GUIDELINES\nCalculate `overall_score_percent` based on:\n- Must-have requirements met (60% weight)\n- Preferred qualifications met (25% weight)\n- Keyword/phrase alignment & context (15% weight)\n\nSet `score_confidence` as:\n- \"high\": Resume and JD are clear, complete, and directly comparable\n- \"medium\": Some ambiguity in resume/JD or partial information\n- \"low\": Significant missing context, vague JD, or heavily formatted/unparseable resume\n\nWrite `rationale` to:\n- Be concise (max 3 sentences, ~60 words)\n- Mention 1-2 strongest alignments AND 1 key gap (if score <90)\n- Use neutral, factual language (no fluff or encouragement phrases)\n\n### RULES\n✅ Output MUST be valid, parseable JSON\n✅ Use only the keys shown above—no extra fields\n✅ If input is missing resume or JD, return:\n   {\"error\": {\"code\": \"MISSING_INPUT\", \"message\": \"Both [RESUME] and [JOB_DESCRIPTION] are required\"}}\n❌ Do NOT include suggestions, gap tables, ATS tips, or any other analysis\n❌ Do NOT add markdown formatting, code blocks, or commentary\n\nBegin analysis only after receiving both inputs. Output JSON only.\n\n[RESUME]\n{{ $json.resume_contents }}\n\n[JOB_DESCRIPTION]\n{{ $json.job_description }}\n ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        800
      ],
      "id": "8b38e5fd-9dd4-40a0-ad5b-e89ac388f0a4",
      "name": "Prompt for ResuMatch Recruiter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "feef0f28-6507-4d2d-bb50-2ffb519a5c37",
              "leftValue": "={{ $('Webhook').item.json.body.is_candidate }}",
              "rightValue": "resume_match_candidate",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        432
      ],
      "id": "3f89d225-1583-4ccb-baec-b0049097a218",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        416
      ],
      "id": "c2ea76c7-5e49-4627-a468-2641b66db9d5",
      "name": "Candidate Resume Match Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        800
      ],
      "id": "fefeb0ee-a606-48d7-b611-112ed61a0faa",
      "name": "Recruiter Resume Match Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"match_summary\": {\n    \"overall_score_percent\": 60,\n    \"score_confidence\": \"high|medium|low\",\n    \"key_strengths\": [\n      {\n        \"strength\": \"<string>\",\n        \"evidence\": \"<quote or summary from resume>\",\n        \"jd_alignment\": \"<matching JD requirement>\"\n      }\n    ],\n    \"critical_gaps\": [\n      {\n        \"gap\": \"<string>\",\n        \"jd_requirement\": \"<exact JD phrase>\",\n        \"impact_level\": \"high|medium|low\",\n        \"remediation_difficulty\": \"easy|moderate|hard\"\n      }\n    ]\n  },\n  \"detailed_analysis\": {\n    \"requirements_met\": [\n      {\n        \"jd_requirement\": \"<string>\",\n        \"requirement_type\": \"must_have|preferred|nice_to_have\",\n        \"resume_evidence\": \"<string>\",\n        \"match_quality\": \"strong|moderate|weak\",\n        \"notes\": \"<optional context>\"\n      }\n    ],\n    \"gaps_and_weak_matches\": [\n      {\n        \"jd_requirement\": \"<string>\",\n        \"requirement_type\": \"must_have|preferred|nice_to_have\",\n        \"current_status\": \"<what's missing or underdeveloped>\",\n        \"impact_level\": \"high|medium|low\",\n        \"suggested_action\": \"<brief remediation idea>\"\n      }\n    ]\n  },\n  \"improvement_suggestions\": {\n    \"high_priority\": [\n      {\n        \"suggestion\": \"<actionable advice>\",\n        \"example_phrasing\": \"<before/after or template text>\",\n        \"expected_impact\": \"<how this improves match score>\",\n        \"effort_required\": \"low|medium|high\"\n      }\n    ],\n    \"medium_priority\": [\n      {\n        \"suggestion\": \"<actionable advice>\",\n        \"example_phrasing\": \"<optional>\",\n        \"expected_impact\": \"<string>\",\n        \"effort_required\": \"low|medium|high\"\n      }\n    ],\n    \"nice_to_have\": [\n      {\n        \"suggestion\": \"<polish or differentiation tip>\",\n        \"example_phrasing\": \"<optional>\",\n        \"expected_impact\": \"<string>\",\n        \"effort_required\": \"low|medium|high\"\n      }\n    ]\n  },\n  \"ats_optimization\": {\n    \"keywords_to_add\": [\n      {\n        \"keyword\": \"<string>\",\n        \"context_suggestion\": \"<where/how to include it>\",\n        \"frequency_recommendation\": \"<e.g., 1-2x in skills section>\"\n      }\n    ],\n    \"skills_to_rephrase\": [\n      {\n        \"current_phrase\": \"<string>\",\n        \"suggested_rephrase\": \"<ATS-friendly alternative>\",\n        \"reason\": \"<why this helps parsing>\"\n      }\n    ],\n    \"section_recommendations\": [\n      {\n        \"section\": \"<e.g., Experience, Skills, Summary>\",\n        \"recommendation\": \"<restructuring or ordering advice>\",\n        \"rationale\": \"<why this improves ATS scoring>\"\n      }\n    ]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        640
      ],
      "id": "8decbeb9-d53a-4ebb-9381-c6157f48f89d",
      "name": "Candidate Resume Match Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"match_summary\": {\n    \"overall_score_percent\": 80,\n    \"score_confidence\": \"high|medium|low\",\n    \"rationale\": \"<2-3 sentence plain-text explanation of why this score was assigned, referencing key alignments or gaps>\"\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        1088
      ],
      "id": "8f5a3572-cf4f-412a-b509-a86b998a797a",
      "name": "Recruiter Resume Match Parser"
    },
    {
      "parameters": {
        "binaryData": true,
        "binaryPropertyName": "={{ $binary.keys()[0] }}",
        "type": "SHA256",
        "dataPropertyName": "doc_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -288,
        -656
      ],
      "id": "7cd31370-c385-4f07-a60c-c387fab5cd26",
      "name": "Generate Hash"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.doc_hash + $json.body.is_candidate}}",
        "dataPropertyName": "doc_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -112,
        -656
      ],
      "id": "1401d277-4cd4-4b20-9c8e-ce60304ad63e",
      "name": "Generate Doc Hash"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Based on Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Event Type": {
      "main": [
        [
          {
            "node": "Check File Size is less than 5MB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate URL Hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Size is less than 5MB": {
      "main": [
        [
          {
            "node": "Large File Size",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Document Type": {
      "main": [
        [
          {
            "node": "Extract from DOCX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text": {
      "main": [
        [
          {
            "node": "Text File Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "PDF File Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from DOCX": {
      "main": [
        [
          {
            "node": "Docx File Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Pages are more than 5": {
      "main": [
        [
          {
            "node": "Page Limit Exceeded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Credit Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate Document": {
      "main": [
        [
          {
            "node": "If Doc Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Doc Exists": {
      "main": [
        [
          {
            "node": "Duplicate Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Based on Document Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Covert File to Base64 String": {
      "main": [
        [
          {
            "node": "Add File Binary Data in User Documents Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Resume Data in User Documents Table": {
      "main": [
        [
          {
            "node": "Covert File to Base64 String",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resume Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add File Binary Data in User Documents Table": {
      "main": [
        []
      ]
    },
    "Check if OCR Required": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data for Insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "File Text and Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Text and Metadata": {
      "main": [
        []
      ]
    },
    "5_Nano": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Validator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Validator": {
      "main": [
        [
          {
            "node": "Resume Validator Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text File Contents": {
      "main": [
        [
          {
            "node": "File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF File Contents": {
      "main": [
        [
          {
            "node": "File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docx File Contents": {
      "main": [
        [
          {
            "node": "File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Invalid Resume": {
      "main": [
        [
          {
            "node": "Invalid Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Validator Data": {
      "main": [
        [
          {
            "node": "If Invalid Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Resume Validator Response in User Documents Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Credit Balance": {
      "main": [
        [
          {
            "node": "If Current Balance is not Sufficient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Current Balance is not Sufficient": {
      "main": [
        [
          {
            "node": "Check if OCR Required",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insufficient Credit Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape JDs": {
      "main": [
        [
          {
            "node": "Retrieve JDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve JDs": {
      "main": [
        [
          {
            "node": "Check If Scraping Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDs": {
      "main": [
        [
          {
            "node": "HR Data Extraction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Validator Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resume Validator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HR Data Extraction Agent": {
      "main": [
        [
          {
            "node": "JD Validator Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5_Nano_Flex": {
      "ai_languageModel": [
        [
          {
            "node": "HR Data Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate URL Hash": {
      "main": [
        [
          {
            "node": "Check for Duplicate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate URL": {
      "main": [
        [
          {
            "node": "If URL Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If URL Exists": {
      "main": [
        [
          {
            "node": "Duplicate URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape JDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scraping Completed": {
      "main": [
        [
          {
            "node": "JDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "Retrieve JDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert JD Data in User JDs Table": {
      "main": [
        [
          {
            "node": "Deduct Credits for JD Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Invalid JD": {
      "main": [
        [
          {
            "node": "Invalid JD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL Processed Sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD Validator Data": {
      "main": [
        [
          {
            "node": "Insert JD Data in User JDs Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Invalid JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 secs": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Data": {
      "main": [
        [
          {
            "node": "Check If Pages are more than 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data for Insertion": {
      "main": [
        [
          {
            "node": "Insert Resume Data in User Documents Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Resume Validator Response in User Documents Table": {
      "main": [
        [
          {
            "node": "Deduct Credits for Resume Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume Text": {
      "main": [
        [
          {
            "node": "Get JD Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JD Details": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT5_Nano_Flex": {
      "ai_languageModel": [
        [
          {
            "node": "Candidate Resume Match Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Candidate Resume Match Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Recruiter Resume Match Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Recruiter Resume Match Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Career Advisor Agent Data": {
      "main": [
        [
          {
            "node": "Insert Data in Job Match Summary Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Data in Job Match Summary Table": {
      "main": [
        [
          {
            "node": "Job Match Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt for ResuMatch Candidate": {
      "main": [
        [
          {
            "node": "Candidate Resume Match Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prompt for ResuMatch Candidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt for ResuMatch Recruiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Resume Match Agent": {
      "main": [
        [
          {
            "node": "Career Advisor Agent Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt for ResuMatch Recruiter": {
      "main": [
        [
          {
            "node": "Recruiter Resume Match Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Resume Match Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Candidate Resume Match Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Recruiter Resume Match Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Recruiter Resume Match Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Recruiter Resume Match Agent": {
      "main": [
        [
          {
            "node": "Career Advisor Agent Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash": {
      "main": [
        [
          {
            "node": "Generate Doc Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Doc Hash": {
      "main": [
        [
          {
            "node": "Check for Duplicate Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e4d3196-419c-4088-8307-6a4ff1108f9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b83bfa4e3e0b271ff1c0c7b4f0abe726faa56dea88cb27376e82445e225b7757"
  },
  "id": "Ax1nPnp3l4lgBkEphH95d",
  "tags": []
}