n8n_workflows/ResuMatchAI Analytics.json
{
  "name": "ResuMatchAI Analytics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "85e48153-e99d-40cc-9663-a7c0fd845c44",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        16
      ],
      "id": "d806f058-a16f-442c-bd0a-3fdf8a3bb750",
      "name": "Webhook",
      "webhookId": "85e48153-e99d-40cc-9663-a7c0fd845c44",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XpXKthBl9ltJ9CCe",
          "name": "ResuMatch API Key"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "user_analytics",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e86d652-9424-4138-ad2d-83100a0e9cdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User Analtyics"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4c9095f-78a1-4639-8424-e25821536d72",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "all_analytics",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "All Analytics"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        16
      ],
      "id": "ce60265c-a595-489e-84b4-236c0864269c",
      "name": "Switch Based on Data Event"
    },
    {
      "parameters": {
        "content": "## User Analytics\n* Returns the following for a given user:\n    - total number of fitness plans\n    - total number of JDs\n    - total number of job match summary",
        "height": 432,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -496
      ],
      "typeVersion": 1,
      "id": "22c8e00e-a72a-40da-8bd3-a335c077d058",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## All Analytics\n* Returns the following:\n   - total number of users\n    - total number of resume(s)\n    - total number of JDs\n    - total number of job match summary",
        "height": 448,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -32
      ],
      "typeVersion": 1,
      "id": "1540632d-ce65-4a66-a63f-86633896b91f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) \n   FROM resume_match.user_resume \n   WHERE user_id = $1) AS total_resume_processed,\n\n  (SELECT COUNT(*) \n   FROM resume_match.user_jds \n   WHERE user_id = $1) AS total_jds_processed,\n\n  (SELECT COUNT(*) \n   FROM resume_match.job_match_summary \n   WHERE user_id = $1) AS total_job_match_summary_processed;",
        "options": {
          "queryReplacement": "={{ $json.body.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        -224
      ],
      "id": "288b99c6-8312-415b-818e-4e8adb80b587",
      "name": "User Analtyics",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        -224
      ],
      "id": "0ff954ed-c558-447f-b951-45249956c7a4",
      "name": "Return User Analytics"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM resume_match.user_resume)\n    AS total_resume_processed,\n\n  (SELECT COUNT(*) FROM resume_match.user_jds)\n    AS total_jds_processed,\n\n  (SELECT COUNT(*) FROM resume_match.job_match_summary)\n    AS total_job_match_summary_processed,\n\n  (\n    SELECT COUNT(DISTINCT user_id)\n    FROM (\n      SELECT user_id FROM resume_match.user_resume\n      UNION\n      SELECT user_id FROM resume_match.user_jds\n      UNION\n      SELECT user_id FROM resume_match.job_match_summary\n    ) all_users\n  ) AS total_number_of_users;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        224
      ],
      "id": "1f063cf6-aa62-4899-a989-7f6119364a38",
      "name": "All Analtyics",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        224
      ],
      "id": "193bcec6-8bb1-4de0-8662-d31bd1f18f4f",
      "name": "Return All Analytics"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Based on Data Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Data Event": {
      "main": [
        [
          {
            "node": "User Analtyics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Analtyics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Analtyics": {
      "main": [
        [
          {
            "node": "Return User Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Analtyics": {
      "main": [
        [
          {
            "node": "Return All Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "55238f77-4e15-45cc-874d-477370f332f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b83bfa4e3e0b271ff1c0c7b4f0abe726faa56dea88cb27376e82445e225b7757"
  },
  "id": "d9Kx7UtvC4cApQZ7",
  "tags": []
}