n8n_workflows/ResuMatchAI Data.json
{
  "name": "ResuMatchAI Data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "26dee7a9-19a0-4f65-af48-506384f50370",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        32
      ],
      "id": "59b9f30a-7f03-4967-9477-058b4a2b2a05",
      "name": "Webhook",
      "webhookId": "26dee7a9-19a0-4f65-af48-506384f50370",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XpXKthBl9ltJ9CCe",
          "name": "ResuMatch API Key"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "get_resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e86d652-9424-4138-ad2d-83100a0e9cdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4c9095f-78a1-4639-8424-e25821536d72",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "get_jds",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ace2bd05-30bd-407e-be06-efcfc01260c4",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "get_job_match_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Match Summary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        16
      ],
      "id": "871a8bd7-8dfb-466b-b7f3-9d78ebbd7901",
      "name": "Switch Based on Data Event"
    },
    {
      "parameters": {
        "content": "## Get Resume(s)\n* Returns the following for a given user:\n    - name of resume(s)\n    - whether valid resume or not\n    - size of resume(s)\n    - base64 string of resume(s)",
        "height": 448,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -656
      ],
      "typeVersion": 1,
      "id": "ae2b82db-5247-4d27-82fa-73ff21e616d6",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Get JD(s)\n* Returns the following for a given user:\n    - ID of Job Description\n    - Job Description URL\n    - whether valid JD or not\n    - Job Description Details\n",
        "height": 448,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -192
      ],
      "typeVersion": 1,
      "id": "b1bd46ce-2ac8-4dbd-9425-b25ba1d45878",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_jds",
          "mode": "list",
          "cachedResultName": "user_jds"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.body.user_id }}"
            },
            {
              "column": "is_candidate",
              "value": "={{ $json.body.is_candidate }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "url_id",
            "jd_url",
            "is_jd",
            "jd_object"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        32
      ],
      "id": "5db78a84-43c4-48ec-86c7-d1e89ef5ff4c",
      "name": "Get JDs",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    file_id,\n    file_name,\n    is_resume,\n    file_size,\n    encode(file_binary_data, 'base64') AS file_base64\nFROM resume_match.user_resume\nWHERE user_id = $1\n  AND is_candidate = $2;\n",
        "options": {
          "queryReplacement": "={{ $json.body.user_id }}, {{ $json.body.is_candidate }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -432
      ],
      "id": "37ebed88-48ad-4867-ab2f-3488510f4916",
      "name": "Get Resume",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        -432
      ],
      "id": "db1c588d-7829-4f12-b9b9-d4d264b367b0",
      "name": "Return Resume"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        32
      ],
      "id": "51449124-bf37-434c-bae5-1d3ebec64548",
      "name": "Return JDs"
    },
    {
      "parameters": {
        "content": "## Get Job Match Summary\n* Returns the job match summary",
        "height": 448,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        272
      ],
      "typeVersion": 1,
      "id": "783d1b89-f87f-4090-978a-54db81f610c3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "job_match_summary",
          "mode": "list",
          "cachedResultName": "job_match_summary"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.body.user_id }}"
            },
            {
              "column": "file_id",
              "value": "={{ $json.body.file_id }}"
            },
            {
              "column": "url_id",
              "value": "={{ $json.body.url_id }}"
            },
            {
              "column": "is_candidate",
              "value": "={{ $json.body.is_candidate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        496
      ],
      "id": "97d7c658-73ec-4c2b-9044-a4b7e9ad2336",
      "name": "Get Job Match Summary",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        496
      ],
      "id": "de1586e0-d19f-4542-893f-8bf2b5ff43c1",
      "name": "Return Job Match Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Based on Data Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Data Event": {
      "main": [
        [
          {
            "node": "Get Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get JDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Job Match Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JDs": {
      "main": [
        [
          {
            "node": "Return JDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume": {
      "main": [
        [
          {
            "node": "Return Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Match Summary": {
      "main": [
        [
          {
            "node": "Return Job Match Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "130c6423-31c9-41cf-be34-bde0a957ec9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b83bfa4e3e0b271ff1c0c7b4f0abe726faa56dea88cb27376e82445e225b7757"
  },
  "id": "FJgcvrmIAG6K53AO",
  "tags": []
}