n8n_workflows/ResuMatchAI Delete.json
{
  "name": "ResuMatchAI Delete",
  "nodes": [
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_resume",
          "mode": "list",
          "cachedResultName": "user_resume"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "file_id",
              "value": "={{ $('Webhook').item.json.body.file_id }}"
            },
            {
              "column": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        128
      ],
      "id": "914d8898-9561-4fcf-b5d5-517febb880b5",
      "name": "Delete Resume",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "content": "## Delete Resume\n* Deletes resume from user_resume table",
        "height": 272,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0ea68ec5-04ed-4fd4-82fa-5f5ce3718a9e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Delete JD\n* Deletes JD from user_jds table",
        "height": 272,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        288
      ],
      "typeVersion": 1,
      "id": "31bcee53-009b-44b5-acec-2d573c359f5c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "user_jds",
          "mode": "list",
          "cachedResultName": "user_jds"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "url_id",
              "value": "={{ $('Webhook').item.json.body.url_id }}"
            },
            {
              "column": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        416
      ],
      "id": "7dafded9-6291-44ef-9447-ae9919591005",
      "name": "Delete JD",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "content": "## Delete Job Match Summary\n* Deletes job match summary from job_match_summary table",
        "height": 304,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        576
      ],
      "typeVersion": 1,
      "id": "6fe76398-bd83-403b-9d54-4bd3c5bfd2bc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2df21026-2a38-4b57-9399-cc9fc848388f",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        416
      ],
      "id": "34199f60-2148-4f98-b193-5c118d69b297",
      "name": "Webhook",
      "webhookId": "2df21026-2a38-4b57-9399-cc9fc848388f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XpXKthBl9ltJ9CCe",
          "name": "ResuMatch API Key"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "delete_resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e86d652-9424-4138-ad2d-83100a0e9cdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4c9095f-78a1-4639-8424-e25821536d72",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "delete_jd",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d74ec68-e881-47d2-8314-df683bbb02fb",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "delete_job_match_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Match Summary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -304,
        400
      ],
      "id": "63ffa7c8-7108-4275-bde9-98e6b12c6d0f",
      "name": "Switch Based on Delete Event"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"RESUME_DELETED\",\n  \"message\": \"Resume deleted successfully\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        128
      ],
      "id": "a506ab29-ff61-491f-a149-372af8bd3d7c",
      "name": "Resume Deleted"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"JD_DELETED\",\n  \"message\": \"JD deleted successfully\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        416
      ],
      "id": "e37adea3-c452-45c1-b619-6f6a11e7fb3f",
      "name": "JD Deleted"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "resume_match",
          "mode": "list",
          "cachedResultName": "resume_match"
        },
        "table": {
          "__rl": true,
          "value": "job_match_summary",
          "mode": "list",
          "cachedResultName": "job_match_summary"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "url_id",
              "value": "={{ $('Webhook').item.json.body.url_id }}"
            },
            {
              "column": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "column": "file_id",
              "value": "={{ $('Webhook').item.json.body.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        704
      ],
      "id": "3759f679-d08f-4d27-9c42-e261967fd720",
      "name": "Delete Job Match Summary",
      "credentials": {
        "postgres": {
          "id": "Q7wAh6OQBwYKNNc2",
          "name": "Postgres Hostinger"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"JOB_MATCH_SUMMARY_DELETED\",\n  \"message\": \"Job Match Summary deleted successfully\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        704
      ],
      "id": "89213215-6bd9-4e8d-835e-529a2db2b3f9",
      "name": "Job Match Summary Deleted"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Based on Delete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Based on Delete Event": {
      "main": [
        [
          {
            "node": "Delete Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete JD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Job Match Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Resume": {
      "main": [
        [
          {
            "node": "Resume Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete JD": {
      "main": [
        [
          {
            "node": "JD Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Job Match Summary": {
      "main": [
        [
          {
            "node": "Job Match Summary Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "768730d3-9957-4afa-88a3-43b2f7f11352",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b83bfa4e3e0b271ff1c0c7b4f0abe726faa56dea88cb27376e82445e225b7757"
  },
  "id": "7xy7anLV2JzhJ1qmulltw",
  "tags": []
}